.files-inner{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
.files-list{
    float: left;
    background: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    height: 100%;
}
.files-list-inner{
    overflow-y: scroll;
    height: 100%;
}
.files-list .panel-heading{
    cursor: pointer;
}
.files-list .caret{
    transition: all 0.5s;
}
.files-list .panel.open .caret{
    transform: rotate(180deg);
}
.files-list .panel-body{
    padding: 0 !important;
}
.files-list .panel-body .file-list-folder{
    padding: 0;
    padding-left: 0px;
    margin-left: 5px;
    position: relative;
}
.files-list .panel-body .file-list-file{
    min-height: 35px;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 6px;
    line-height: 35px;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file-list-folder>*::before{
    content: ' ';
    width: 35px;
    height: 35px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}
.file-list-folder .dir::before{
    background-image: url(/admin/common/img/closed_folder.png);
}
.file-list-folder .dir.open::before{
    background-image: url(/admin/common/img/open_folder.png);
}
.file-list-folder .file::before{
    background-image: url(/admin/common/img/file.png);
}
.tab-content{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
.tab-pane{
    width: 100%;
    height: 100%;
    position: relative;
}
.editor{
    position: absolute !important;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
}
.file-buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}